<%- include("template/cabecera", {tituloWeb: 'Crear nueva mascota' }) %>

<div class="container">
    <h1>Crear</h1>
    <form action="/mascotas" method="post">
        <input class="form-control my-2" type="text" name="nombre" placeholder="Agregar nombre" id="nombre">
        <input class="form-control my-2" type="text" name="descripcion" placeholder="Agregar descripcion" id="descripcion">
        <button class="btn btn-success btn-block">Agregar</button>
    </form>

</div>



<%- include("template/footer") %>