<%- include("template/cabecera", {tituloWeb: 'Titulo Index' }) %>



    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>EJS</h1>
                <h2>
                    <%= titulo %>
                </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci fuga quod ad reiciendis aperiam
                    cumque quos molestias dolorem perferendis, pariatur at cupiditate ex recusandae incidunt? Itaque
                    quod fugiat dolorem hic?</p>
            </div>
        </div>
    </div>
    <%- include("template/footer") %>