<%- include("templates/cabecera", {tituloWeb: 'Titulo Index' }) %>



    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <% if (arrayMascotas.length> 0) { %>
                    <% arrayMascotas.forEach(element=> { %>

                        <%= element.nombre %>
          
                        <%= element.descripcion %>
                        <br>

                            <% }) %>
                                <% } %>
            </div>
        </div>
    </div>
    <%- include("templates/footer") %>